*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(226, 226, 68);
}
.og-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.og-container div {
    color: rgb(218, 155, 39);
}

.card1 {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 220px;
    margin-right:220px;
    background-color: rgb(51, 51, 54);
    border: 5px solid rgb(255, 85, 184);
    
}

.img1{
    margin-top: -10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100px;
    border-radius: 20px;
    border: 2px solid rgb(10, 114, 193);
}
.btn{
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    width: 180px;
    border: 3px solid rgb(9, 9, 9);
    border-radius: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: #42c612;
}
.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2 {
    margin-bottom: -10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    width: 180px;
    border: 3px solid rgb(74, 200, 74);
    border-radius: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    background-color: #d53535;
}
.card1 h3{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    background-color: #bbe61f;
    border-radius: 4px;
    color:rgb(67, 48, 207)
}
.h3{
    width: 250px;
}

.btn:hover{
    background-color: rgb(9, 9, 9);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);   
}
.btn2:hover{
    background-color: rgb(9, 9, 9);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);   
}
.card2, .card3, .card4 {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 220px;
    margin-right:220px;
    background-color: rgb(51, 51, 54);
    border: 2px solid rgb(23, 193, 54);
}